 .clear {
   clear: both;
 }

 /* start home */

 .home {
   height: 100vh;
   background-image: url(image/background.jpg);
   background-size: cover;
   background-position: center;
 }

 /* start navbar */
 .home .navbar {
   padding: 15px 30px;
   display: inline-block;
   position: fixed;
   left: 0;
right: 0;
right: 0;
    z-index: 1000;
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s;

 }

 .navbar div {
  
   display: inline-block;
 }

 .navbar-logo img {
   width: 200px;
   padding: 0 80px;
 }

 .navbar ul {
   list-style: none;
   color: white;
   padding: 0 80px;
   overflow: auto;
 }

 .navbar li {
   display: inline;
   padding: 0 10px;
   font-size: medium;
    transition: all 0.3s;
 }

 .navbar li:hover {
    color: #8e7754;
}


 .navbar .navbar-logo {
   width: fit-content;
   position: absolute;
   right: 70%;

 }

 .navbar-link {
   width: fit-content;
   position: absolute;
   left: 55%;

 }

 /* end navbar */
 /* start home content */
 .home .home-content {
   text-align: center;
   color: white;
   padding: 150px;
   font-size: large;
 }

 .home-content button {
   padding: 15px 20px;
 }

 .learn-btn {
   background-color: #8e7754;
   border-color: white;
   transition: all 0.3s;
 }

 .learn-btn:hover {
  background-color: transparent;
   border-color: white;
   color: white;
}

 .cont-btn {
  background-color: transparent;
   border-color: white;
   color: white;
   transition: all 0.3s;

 }

 .cont-btn:hover {
  background-color: #8e7754;
  color: black;
 }

 /* end home content */
 /* end home */


 /* start who we are  */
 .who-we-are {
   background-color: white;
   padding-top: 90PX;
   padding-bottom: 90PX;
   padding-left: 150PX;
   padding-right: 150px;

 }

 .who-we-are div {
   display: inline-block;
 }

 .image-who {

   padding-right: 30px;
 }

 .image-who img {
   width: 550PX;

 }

 .content-who {
   width: 500px;
   padding-left: 30px;
   position: absolute;
   top: 115%;
 }



 .our-location {
   background-color: rgb(240, 240, 240);
   padding-top: 90PX;
   padding-bottom: 90PX;
   padding-left: 150PX;
   padding-right: 150px;
 }

 .our-location div {
   display: inline-block;
 }

 .content-loc {
   width: 500px;
   padding-right: 30px;
   margin-bottom: 30px;
 }

 .image-loc img {
   width: 550PX;
 }

 .image-loc {
   padding-left: 100px;
   padding-top: 30px;
 }

 .content-loc p {
   margin-bottom: 20px;
 }







 .our-baking {
   background-color: white;
   padding-top: 90PX;
   padding-bottom: 90PX;
   /* padding-left: 30PX;
  padding-right: 30px; */
   width: 100%;


   /* display: inline-block; */
 }

 .head-bak {
   text-align: center;
 }

 div .our-baking .tab {
   padding-left: 100px;
   box-sizing: content-box;
 }

 .tab img {
   width: 100%;

 }

 .p-one {
   float: left;
 }

 .p-tow {
   float: left;
 }

 .p-three {
   float: left;
 }

 .tab div {
   width: 31.333%;
   text-align: center;
   margin: 0 10px 0 10px;
 }

 .contact {
   background-color: rgb(240, 240, 240);
   padding-top: 90PX;
   padding-bottom: 90PX;
   width: 100%;
 }

 .contact-text {
   width: 50%;
   float: left;
   padding-left: 50px;
 }

 .contact-map {
   float: left;
   width: 30%;
 }



 .last {
   background-color: #403d38;
   width: 100%;
   overflow: auto;
 }
 .last div{
  margin: 25px 30px;
 }

 .last-about {
   width: 20%;
   float: left;
   color: #969696;
 }

 .last-about h3 {
   color: white;
 }


 .last-special {
   width: 20%;
   float: left;
 }

 .last-special h3 {
   text-align: center;
   color: white;
 }

 .last-special ul hr {
   color: #524f48;
 }

 .last-special ul {
   list-style: none;
   color: #969696;
 }


 .last-hours {
   width: 20%;
   float: left
 }

 .last-hours h3 {
   text-align: center;
   color: white;
 }

 .last-hours ul hr {
   color: #524f48;
 }

 .last-hours ul {
   list-style: none;
   color: #969696;
 }




 .last-contact {
  background-image: url(image/contact-details-map.png);
  background-size: cover;
  width: 20%;
   float: left
 }

 .last-contact h3 {
   text-align:center;
   color: white;
 }

 .last-contact ul hr {
   color: #524f48;
 }

 .last-contact ul {
   list-style: none;
   color: #969696;
 }

 